nav {
    font-family: 'Playball', cursive;
}

.navbar {
    width: 100rem;
    height: 9rem;
    background-color:rgb(28, 6, 70) !important;
    font-size: 35px;
}

.navbar .navbar-brand {
    color: rgb(211, 153, 163);
    font-size: 35px;
}

.navbar .navbar-brand:hover {
    color: rgb(241, 138, 12) !important;
}

.navbar .navbar-nav li a {
    color: white !important;
}

.navbar .navbar-nav li a:hover {
    color: rgb(241, 138, 12) !important;
}

.navbar-toggler {
    background-color: darkorange
}

body {
    font-family: 'Playball', cursive;
}

h1, h2 {
    font-size: 35px;
}

.containerPicture {
    width: 50%;
    height: auto;
}

/* Start Media Queries */
/* works when type ctrl + 0 in chrome browser */

@media screen and (max-width: 768px) {
    /* For Mobile Phones */
    .navbar {
        display:block
    }
    body {
        background-color: red !important;
    }
    #welcome {
        width: 100%;
    }
}
@media screen and (max-width: 320px) {
     .navbar {
        display:block;
        font-size: 20px;
    }
    body {
        background-color: blue !important;
    }
}
@media screen and (max-width: 168px) {
    .navbar {
        display:block;
        font-size: 15px;
    }

    body {
        background-color: black !important;
    }
}